.authorization__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.authorization__link:hover{
    opacity: 0.8;
    cursor: pointer;
}